<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>BleChat uses bluetooth to allow you to find and communicate with other devices in your area.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>BleChat uses bluetooth to allow you to find and communicate with other devices in your area.</string>
</dict>
</plist>
